*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}


.navbar{
    display:flex;
    align-items:center;
    background:black;
    color:white;
    justify-content: center;
    padding: 10px 0;
    align-items: baseline;

    font-size:20px;
}
.container{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap:20px;
}
#profile{
    font-size:48px;
}

ul{
    list-style: none;
    display:flex;
    gap:20px;
}

#sign-in{
    background-color: aqua;
    color:white;
    padding:10px 20px;
    margin-left: 300px;
}
.flex{
    display: flex;
    align-items: center; 
    justify-content: center;
}

.block{
    display:flex;
    flex-direction: column;
    box-shadow: 4px 8px 16px gray;
}



.title{
    color:white;
    font-size:24px;
    background:gray;
    padding:20px;
}
.content{
    padding:20px;
    

}
.a{
    color: blue; text-decoration:underline;
}
.profile-content {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width:1200px;
    margin:auto;
    gap:20px;
    margin:60px auto;
    
    
}

.col-2{
    width:600px;
    
}
.col-1{
    width:300px;
}
.b{
    color: blue;
    text-decoration: underline;
}



.num{
    background:whitesmoke;
    border-radius: 50%;
    color:gray;
    padding:5px;
}

.cover-turquoise{
    background:turquoise;
    height:80px;
}

img{
    border-radius:50%;
}

.pic{
    position:relative;
    top:-60px;
    margin-left:20px;
}